[Unit]
Description=Process d'acquisition des données thermocouples
Wants=multi-user.target

[Service]
Restart=always
RestartSec=30
Type=idle
WorkingDirectory=/home/pi/TC_Eolienne/
ExecStart=/home/pi/TC_Eolienne/bin/thermocouples -c config/config_service -d "/dev/ttyUSB0"

[Install]
WantedBy=graphical.target
